*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    font-family: Arial,sans-serif;
    background-color: #ccc;
    overflow: hidden;
}
.weatherApp{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.weatherApp input{
    display: block;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 0;
    margin: 30px auto 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    color: white;
    transition: .1s;
    text-align: center;
}
.weatherApp input:focus{
    opacity: .5;
}
.weatherApp input::placeholder {
    color: #ddd;
    opacity: 1;
}
.weatherApp input:-ms-input-placeholder {
    color: #ddd;
}
.weatherApp input::-ms-input-placeholder {
    color: #ddd;
}

.weatherApp button{
    display: block;
    padding: 10px 40px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: .1s;
    text-transform: uppercase;
    cursor: pointer;
}
.weatherApp button:hover{
    background-color: white;
    color: black;
}

section.weather{
    width: 70%;
    max-width: 700px;
    text-align: center;
    margin: 60px auto 0;
    border-radius:10px;
    background-color: #ddd;
}
section.weather:first-child, section.weather:last-child{
    padding: 10px 0;
}

@media (orientation: landscape) {
    .weatherApp form{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .weatherApp input{
        width: 60%;
        display: inline-block;
    }
    .weatherApp button{
        width: 30%;
        margin-left: 5%;
        padding: 10px;
        display: inline-block;
    }
    section.weather{
        margin: 20px auto 0;
    }
    section.weather *{
        margin: 5px 0;
    }
}
@media (orientation: landscape) and (min-height: 361px) {
    section.weather{
        margin: 60px auto 0;
    }
    section.weather *{
        margin: 15px 0;
    }
}
@media (orientation: landscape) and (min-width: 1024px) {
    .weatherApp form{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .weatherApp input{
        margin-top: 100px;
        display: block;
    }
    .weatherApp button{
        display: block;
        margin: 50px auto;
    }
    section.weather{
        margin: 80px auto 0;
    }
    section.weather *{
        margin: 15px 0;
    }
}